*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    max-width: 100vw;
}
#saeimg{
    height: 100px;
    border-radius: 50%;
}
nav{
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 999;
    box-shadow: 3px 3px 10px black;
   
    
   

}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* position: fixed; */
    
}
nav li{
    height: 100px;
}
nav a{
    height: 100%;
    padding: 0px 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: red;
    font-size: 20px;
}
nav a:hover{
    background-color: rgb(41, 37, 37);
}
/* #showsidebar{
    display: none;
}
#showsidebar:hover{
    background-color: black;
} */
nav li:first-child{
    margin-right: auto;
}
#sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1;
    background-color: black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 3px 3px 10px black;
}
#sidebar li{
    width: 100%;
}
#sidebar a{
    width: 100%;
}
#menu{
    fill: white;
    display: none;
}
#close{
    fill: white;
}
@media(width >= 840px) {
    #showsidebar{
        display: none;
    }
}
@media(width < 840px){
    .hideonmobile{
        display: none;
        /* visibility: none; */
        /* visibility: hidden; */
    }
    /* #showsidebar{
        display: block;
    } */
    #menu{
        display: block;
    }
}
@media(width < 950px){
    #sponsors{
        font-size: 40px;
    }
    #info1{
        font-size: 20px;
    }
    #saeimg{
        height: 70px;
    }
    
    .shrinklogo{
        height: 20px;
        width: 50px;
    }
}
@media(width < 400px){
    #sidebar{
        width: 100%;
        
    }
}
#roborealm{
    display: flex;
    justify-content: center;
    font-size: 70px;
    background-color: black;
    padding: 30px 10px;
    color: red;
    /* margin-top: 130px; */
    

}
#mazemechathon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    background-image: url(small_red_robotic_car_in_a_rac.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
    
}



#info1{
    width: 70%;
    font-size: 30px;
    font-weight: 600;
    /* text-shadow: 4px 4px 10px rgb(119, 119, 227); */
    padding: 40px 40px;
    background-color: rgb(229, 222, 222);
    border: solid 3px rgb(39, 39, 123);
    opacity: 65%;
    border-radius: 8px;
    /* transition: background-color 2s; */
}
/* #info1:hover{
    background-color: rgb(170, 162, 162);
} */
.eventtitle{
    font-size: 60px;
    color: rgb(67, 136, 200);
    text-shadow: 10px 10px 10px black;
    
}
#registerbtn{
    height: 50px;
    font-size: 25px;
    font-weight: 500;
    padding: 5px 10px;
    background-color: rgb(31, 25, 150);
    transition: background-color 1s;
    border: solid 2px black;
    border-radius: 8px;
}
#registerbtn:hover{
    background-color: rgb(33, 126, 159);
}
#roboquiz{
    background-image: url(robot_face-off_concept_art_dig.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    justify-content: space-around;

}
.logos{
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: row;
    padding: 40px;
}
#sponsorspage{
    display: flex;
    justify-content: space-around;
    background-color: black;
    width: 100%;
    margin: 0 auto;
}
#sponsors{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 60px;
    padding: 30px 5px;
}
footer{
    background-color: black;
    color: grey;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
    
}
footer a{
    text-decoration: none;
    list-style-type: none;
    color: grey;
}
footer ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 40px 10px;
    width: 500px;

}
@media(width < 500px){
    .eventtitle{
        font-size: 40px;

    }
    #info1{
        font-size: 20px;

    }
    .shrinklogo{
        height: 120px;
        width: 150px;
    }
}

